// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.caveat{
    font-optical-sizing: auto;
    font-style: normal;
    font: 400 50px / 32px  "Caveat", cursive;
  }